@import 'vars';
@import 'animation';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// ПОДКЛЮЧЕНИЕ ШРИШТОВ =======================================================================================
// &display=swap
// &subset=cyrillic-ext ДЛЯ РУ

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap&subset=cyrillic-ext');

// ПОДКЛЮЧЕНИЕ ШРИШТОВ =======================================================================================

// MIXINI =======================================================================================

// АДАПТИВНОЕ СВОЙСТВО =======================================================================================
@mixin adaptiv-value($property, $start, $min, $type) {
  $add: $start - $min;
  @if $type == 1 {
    // Только если меньше контейнера
    #{$property}:  $start + px;
    @media (max-width: #{$maxWidthContainer}) {
      #{$property}: calc(#{$min + px} + #{$add} * ((100vw - 320px) / #{$maxWidthContainer-NoPx - 320}))
    }
  } @else if $type == 2 {
    // Только если больше контейнера
    #{$property}:  $start + px;
    @media (min-width: #{$maxWidthContainer}) {
      #{$property}: calc(#{$min + px} + #{$add} * ((100vw - 320px) / #{$maxWidth-NoPx - 320}))
    }
  } @else {
    // Только если больше контейнера
    #{$property}:  calc(#{$min + px} + #{$add} * ((100vw - 320px) / #{$maxWidth-NoPx - 320}))
  }
  
}
// АДАПТИВНОЕ СВОЙСТВО =======================================================================================


// MIXINI =======================================================================================


// FOOTER К НИЗУ =====================================================
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer{
  margin-top: auto;
}
// FOOTER К НИЗУ =====================================================

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #5221E690;
  }

  &__main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 200;
    background-color: #000;
    transition: all 0.5s;
  }
  &__main-content._active {
    overflow-y: hidden; // пока не работает
    border-radius: 25px;
    transform: translate(330px, -150px);
  }
  &__main-content._active-following {
    transition: all 0.5s;
    overflow-y: hidden; // пока не работает
    background-color: #fff;
    * {
      opacity: 0;
    }
  }
}
.menu-wrapper {

  &__funny-text {
    position: absolute;
    width: 100%;
    bottom: 10%;
    left: 0;
    text-align: center;
  }
}
.main-content-wrapper {
}

// HEADER ===============================================================================================================================
// HEADER ===============================================================================================================================
@media (any-hover: hover) {
  .wrapper__main-content._active .header__button span{
    width: 0px;
    transition: all 0.2s;
  }         
}
.header {
  position: sticky;
  z-index: 10;
  width: 100%;
  top: 0;

  &__wrapper {
    background-color: #000;
  }

  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    cursor: pointer;
    padding: 5px;

    span {
      display: block;
      @include adaptiv-value(width, 35, 25, 1);
      height: 2px;
      background-color: #fff;
      transition: all 0.2s ease 0.3s;
    }
    @media (any-hover: hover) {
      span::before {
        content: '';
        display: block;
        width: 0px;
        height: 2px;
        background-color: $mainColor;
      }
      span:nth-child(1)::before {
        transition: all 0.3s ease 0.2s;
      }
      span:nth-child(2)::before {
        transition: all 0.3s ease 0.1s;
      }
      span:nth-child(3)::before {
        transition: all 0.3s ease 0s;
      }
    }
    span:not(:last-child) {
      @include adaptiv-value(margin-bottom, 8, 6, 1);
    }      
  }
  @media (any-hover: hover) {
    &__button:hover {
      span::before {
        @include adaptiv-value(width, 35, 25, 1);
      }
    }        
  }

  &__nav {
  }
}

.nav-header {

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      overflow: hidden;
      position: relative;
      z-index: 2;
      background-color: $mainColor;
    }
    li::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      background-color: #000;
      transition: all 0.3s ease 0s;
    }
    li::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      display: block;
      background-color: #000;
      transition: all 0.3s ease 0s;
    }
    li:hover::before{
      transform: translateX(-100%);
    }
    li:hover::after{
      transform: translateX(100%);
    }
  }
  
  &__link {
    position: relative;
    display: block;
    z-index: 3;
    @include adaptiv-value(font-size, 16, 12, 1);
    @include adaptiv-value(padding-top, 18, 12, 1);
    @include adaptiv-value(padding-bottom, 18, 12, 1);
    @include adaptiv-value(padding-left, 20, 14, 1);
    @include adaptiv-value(padding-right, 20, 14, 1);
  }
  // &__link:hover {
  //   background-color: $mainColor;
  // }
}

// HEADER* ===============================================================================================================================
// HEADER* ===============================================================================================================================

// welcome-screen ===============================================================================================================================
.welcome-screen {
  width: 100%;
  height: 100vh; 
  
  &__wrapper {
    position: sticky;
    background-color: #fff;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  &__video-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    z-index: 1;
  }
  
  &__video {
    width: 100%;
  }

  &__cloud-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    z-index: 2;
  }
  
  .canvas-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 501;
  }

  &__canvas {    
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 50;
    transform: translate(250px, 100px);
  }
  
}
.cloud-wrapper {

  &__item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 300vw;

    &_ferst {
      background: url('../images/clouds/fog-1.png') repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 60s linear infinite;
    }
    
    &_second {
      background: url('../images/clouds/fog-1.png') repeat-x;
      background-size: contain;
      background-position: center;
      animation: marquee 30s linear infinite;
    }
  }
}

// welcome-screen ===============================================================================================================================



// MAIN =================================================================================================================================
// MAIN =================================================================================================================================
.hero {
  &__wrapper {
    display: flex;
  }

  &__body-img {
  }

  &__body-text {
    background-color: $grey;
  }
}
.hero-body-img {

  &__img {
    z-index: 4;
  }
}
.hero-body-text {

  &__text {
    z-index: 5;
  }

  &__title {
    font-family: $FFR;
    font-weight: 700;
    line-height: 120%;
  }

  &__sub-title {
    max-width: 760px;
    line-height: 150%;
  }
}
@media (min-width: 720.98px) {
  .hero {
    &__wrapper {
      justify-content: center;
    }
  
    &__body-img {
      position: relative;
      padding: 125px 0;
      width: 37.5vw;
    }
  
    &__body-text {
      position: relative;
      padding: 125px 0;
      width: 62.5vw;
      @include adaptiv-value(height, 900, 200, 1);
    }
  }
  .hero-body-img {
    &__img {
      position: absolute;
      top: 125px;
      left: 0;
      @include adaptiv-value(min-width, 750, 0, 1);
    }
  }
  .hero-body-text {
    &__text {
      position: absolute;
      top: 50%;
      left: 0;
      @include adaptiv-value(padding, 40, 10, 1);
      transform: translateY(-50%);
    }
  
    &__title {
      @include adaptiv-value(padding-bottom, 30, 0, 1);
      @include adaptiv-value(font-size, 76, 5, 1);
    }
  
    &__sub-title {
      @include adaptiv-value(font-size, 20, 8, 1);
    }
  }
}
@media (max-width: 720px) {
  .hero {
    &__wrapper {
      display: flex;
      flex-direction: column;
    }
  
    &__body-img {
      margin-top: 30px; 
    }
  
    &__body-text {
      padding: 50px 20px;
      background-color: $grey;
    }
  }
  .hero-body-img {
  
    &__img {
      z-index: 4;
    }
  }
  .hero-body-text {
  
    &__text {
      z-index: 5;
    }
  
    &__title {
      font-family: $FFR;
      font-weight: 700;
      padding-bottom: 18px;
      @include adaptiv-value(font-size, 88, 26, 1);
      line-height: 120%;
    }
  
    &__sub-title {
      display: block;
      max-width: 760px;
      line-height: 150%;
    }
  }
}

// MAIN* =================================================================================================================================
// MAIN* =================================================================================================================================




// FOOTER ===============================================================================================================================
// FOOTER ===============================================================================================================================

// FOOTER* ===============================================================================================================================
// FOOTER* ===============================================================================================================================

















@import 'media'