@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// ПОДКЛЮЧЕНИЕ ШРИШТОВ =======================================================================================
// &display=swap
// &subset=cyrillic-ext ДЛЯ РУ

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;900&family=Source+Sans+Pro:wght@400;600;700&display=swap&subset=cyrillic-ext');

// ПОДКЛЮЧЕНИЕ ШРИШТОВ =======================================================================================

// MIXINI =======================================================================================

// АДАПТИВНОЕ СВОЙСТВО =======================================================================================
@mixin adaptiv-value($property, $start, $min, $type) {
  $add: $start - $min;
  @if $type == 1 {
    // Только если меньше контейнера
    #{$property}:  $start + px;
    @media (max-width: #{$maxWidthContainer}) {
      #{$property}: calc(#{$min + px} + #{$add} * ((100vw - 320px) / #{$maxWidthContainer-NoPx - 320}))
    }
  } @else if $type == 2 {
    // Только если больше контейнера
    #{$property}:  $start + px;
    @media (min-width: #{$maxWidthContainer}) {
      #{$property}: calc(#{$min + px} + #{$add} * ((100vw - 320px) / #{$maxWidth-NoPx - 320}))
    }
  } @else {
    // Только если больше контейнера
    #{$property}:  calc(#{$min + px} + #{$add} * ((100vw - 320px) / #{$maxWidth-NoPx - 320}))
  }
  
}
// АДАПТИВНОЕ СВОЙСТВО =======================================================================================


// MIXINI =======================================================================================


// FOOTER К НИЗУ =====================================================
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer{
  margin-top: auto;
}
// FOOTER К НИЗУ =====================================================

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: #5221E690;
  }

  &__main-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #000;
    transition: all 0.5s;
  }
  &__main-content._active {
    overflow-y: hidden; // пока не работает
    border-radius: 25px;
    transform: translate(330px, -150px);
  }
  &__main-content._active-following {
    transition: all 0.5s;
    overflow-y: hidden; // пока не работает
    background-color: #fff;
    * {
      opacity: 0;
    }
  }
}
.menu-wrapper {

  &__funny-text {
    position: absolute;
    width: 100%;
    bottom: 10%;
    left: 0;
    text-align: center;
  }
}
.main-content-wrapper {
}

// HEADER ===============================================================================================================================
// HEADER ===============================================================================================================================
@media (any-hover: hover) {
  .wrapper__main-content._active .header__button span{
    width: 0px;
    transition: all 0.2s;
  }         
}
.header {
  position: fixed;
  width: 100%;

  &__wrapper {
    background-color: #000;
  }

  &__container {
  }

  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__button {
    cursor: pointer;
    padding: 5px;

    span {
      display: block;
      @include adaptiv-value(width, 35, 25, 1);
      height: 2px;
      background-color: #fff;
      transition: all 0.2s ease 0.3s;
    }
    @media (any-hover: hover) {
      span::before {
        content: '';
        display: block;
        width: 0px;
        height: 2px;
        background-color: $mainColor;
      }
      span:nth-child(1)::before {
        transition: all 0.3s ease 0.2s;
      }
      span:nth-child(2)::before {
        transition: all 0.3s ease 0.1s;
      }
      span:nth-child(3)::before {
        transition: all 0.3s ease 0s;
      }
    }
    span:not(:last-child) {
      @include adaptiv-value(margin-bottom, 8, 6, 1);
    }      
  }
  @media (any-hover: hover) {
    &__button:hover {
      span::before {
        @include adaptiv-value(width, 35, 25, 1);
      }
    }        
  }

  &__nav {
  }
}

.nav-header {

  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
      overflow: hidden;
      position: relative;
      z-index: 2;
      background-color: $mainColor;
    }
    li::before {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: block;
      background-color: #000;
      transition: all 0.3s ease 0s;
    }
    li::after {
      content: '';
      position: absolute;
      z-index: 2;
      top: 0;
      left: 50%;
      width: 50%;
      height: 100%;
      display: block;
      background-color: #000;
      transition: all 0.3s ease 0s;
    }
    li:hover::before{
      transform: translateX(-100%);
    }
    li:hover::after{
      transform: translateX(100%);
    }
  }
  
  &__link {
    position: relative;
    display: block;
    z-index: 3;
    @include adaptiv-value(padding-top, 18, 12, 1);
    @include adaptiv-value(padding-bottom, 18, 12, 1);
    @include adaptiv-value(padding-left, 20, 14, 1);
    @include adaptiv-value(padding-right, 20, 14, 1);
  }
  // &__link:hover {
  //   background-color: $mainColor;
  // }
}

// HEADER* ===============================================================================================================================
// HEADER* ===============================================================================================================================




// MAIN =================================================================================================================================
// MAIN =================================================================================================================================

// MAIN* =================================================================================================================================
// MAIN* =================================================================================================================================




// FOOTER ===============================================================================================================================
// FOOTER ===============================================================================================================================

// FOOTER* ===============================================================================================================================
// FOOTER* ===============================================================================================================================

















@import 'media'