@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

// ПОДКЛЮЧЕНИЕ ШРИШТОВ =======================================================================================
// &display=swap
// &subset=cyrillic-ext ДЛЯ РУ /// вместе???



// ПОДКЛЮЧЕНИЕ ШРИШТОВ =======================================================================================

// MIXINI =======================================================================================

// АДАПТИВНОЕ СВОЙСТВО =======================================================================================
@mixin adaptiv-value($property, $start, $min, $type) {
  $add: $start - $min;
  @if $type == 1 {
    // Только если меньше контейнера
    #{$property}:  $start + px;
    @media (max-width: #{$maxWidthContainer}) {
      #{$property}: calc(#{$min + px} + #{$add} * ((100vw - 320px) / #{$maxWidthContainer-NoPx - 320}))
    }
  } @else if $type == 2 {
    // Только если больше контейнера
    #{$property}:  $start + px;
    @media (min-width: #{$maxWidthContainer}) {
      #{$property}: calc(#{$min + px} + #{$add} * ((100vw - 320px) / #{$maxWidth-NoPx - 320}))
    }
  } @else {
    // Только если больше контейнера
    #{$property}:  calc(#{$min + px} + #{$add} * ((100vw - 320px) / #{$maxWidth-NoPx - 320}))
  }
  
}
// АДАПТИВНОЕ СВОЙСТВО =======================================================================================


// MIXINI =======================================================================================


// FOOTER К НИЗУ =====================================================
body{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
footer{
  margin-top: auto;
}
// FOOTER К НИЗУ =====================================================

.wrapper {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &__menu-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-color: aqua;
  }

  &__main-content {

    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    background-color: #181823;
    transition: all 0.5s;
  }
  &__main-content._active {
    overflow-y: hidden; // пока не работает
    border-radius: 25px;
    transform: translate(330px, -150px);
  }
  &__main-content._active-following {
    transition: all 0.5s;
    overflow-y: hidden; // пока не работает
    background-color: #fff;
    * {
      opacity: 0;
    }
  }
}
.menu-wrapper {
}
.main-content-wrapper {
}

// HEADER ===============================================================================================================================
// HEADER ===============================================================================================================================

// HEADER* ===============================================================================================================================
// HEADER* ===============================================================================================================================




// MAIN =================================================================================================================================
// MAIN =================================================================================================================================

// MAIN* =================================================================================================================================
// MAIN* =================================================================================================================================




// FOOTER ===============================================================================================================================
// FOOTER ===============================================================================================================================

// FOOTER* ===============================================================================================================================
// FOOTER* ===============================================================================================================================

















@import 'media'